* {
    padding: 0;
    margin: 0;
}

/*landingpage styling starts here  */
.landing_page {
    width: 100%;
    height: 60vh;
    position: relative;
}

.landing_page .landing_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.landing_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 48, 83, 0.364);
}

header {
    display: flex;
    padding: 2rem 7rem;
    align-items: center;
    justify-content: space-between;
    height: 7%;
}

.landing_icon .logo {
    width: 7rem;
}

.landing_icon .menu_icon {
    display: none;
}

.landing_content h2 {
    text-align: center;
    font-size: 2rem;
    color: white;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: .5s all ease-in-out;
    font-size: .8rem;
}

nav ul li a:hover {
    color: #FF6565;
}

.landing_content p {
    text-align: center;
    padding: .4rem;
    color: white;
}

.landing_content button {
    background-color: #FF6565;
    width: 7rem;
    border-radius: 50rem;
    font-size: .6rem;
    color: white;
    padding: .6rem .5rem;
    border: none;
    cursor: pointer;
    margin: 2rem;
}

.second_landing_content {
    text-align: center;
    padding: 2rem 10rem;
    color: white;
    font-size: .8rem;
}

.landing_content {
    height: 93%;
    align-items: center;
    justify-content: center;
}

.landing_action {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

@media screen and (max-width:480px) {
    .landing_icon .menu_icon {
        display: block;
    }

    .landing_page {
        height: 100vh;
    }
    nav {
        display: none;
    }
    .landing_icon {
        display: flex;
        justify-content: flex-start;
        gap: 3rem;
        
    }
    header {
        display: flex;
        padding: 2rem;
        align-items: center;
        justify-content: space-between;
        height: 2%;
    }
    .landing_content {
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 5rem;
    }
    .landing_page .landing_background {
        object-fit: cover;
    }
    .landing_action h2 {
        font-size: 2.5rem;
        font-weight: bolder;
    }
    .landing_action p {
        font-size: 1.3rem;
    }
    .second_landing_content {
        padding: 2rem;
        font-size: 1rem;
        line-height: 1.5; 
    }
    .landing_icon .logo {
        width: 10rem;
    }
}

/*landingpage styling ends here  */