:root {
  --white: #FFFFFF;
  --purple: #C271FF;
  --black: #000000;
  --darkblue: #071629;
}

@font-face {
  font-family: 'Source-Bold';
  src: url(../Fonts/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: 'Source-Regular';
  src: url(../Fonts/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: 'Source-light';
  src: url(../Fonts/SourceSansPro-Light.otf);
}

@font-face {
  font-family: Spincle-regular;
  src: url(../Fonts/spincycle_ot.otf);
}

@font-face {
  font-family: Spincle-bold;
  src: url(../Fonts/spincycle_3d_ot.otf);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

.background {
  min-width: 100vh;
  width: 100%;
  background-image: url(../assets/Object.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}



nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 25px;
  position: relative;
}

.nav-links ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 12px;
  font-family: 'Source-Regular'; /* Apply the custom font */
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
} 

.main-text {
  font-size: 120px;
  font-family: 'Source-Bold'; 
  color: var(--white)
}

.span-1 {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-family: 'Source-Regular';
  font-size: 16px;
  color: var(--white);
}

button {
  background-color: var(--purple);
  border: none;
  border-radius: 50px;
  color: var(--white);
  font-size: 14px;
  margin-top: 30px;
  padding: 15px 15px;
  cursor: pointer;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.main-text-1 h2 {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  font-size: 32px;
  font-family: 'Source-Regular';
  color: var(--white);
}

.purple {
  color: var(--purple);
}

.profiles {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 30px;
}

.profile {
  text-align: center;
  max-width: 150px;
}

.p-text {
  font-family: "Source-Regular";
  color: var(--white);
  font-size: 18px;
}

.p-text2 {
  font-style: italic;
  font-family: "Source-Light";
  color: var(--white);
  font-size: 16px;
}

.profile img{
  border-radius: 50%;
  object-fit: cover;
}

.container {
  display: flex;
  align-items: center; 
  margin-bottom: 20px;
  padding: 80px 200px;
  background-color: var(--purple);
}

.container img {  
  margin-right: 40px;
}

.container blockquote {
  color: var(--white);
  font-family: 'Source-light';
  font-size: 22px;
}

.container h3 {
  color: var(--white);
  margin-top: 20px;
  font-family: 'Source-Regular';
}

.container p {
  color: var(--white);
  margin-top: 10px;
  font-family: 'Source-Light';
  font-style: italic;
}

